# Colors

She put her colors up in one

the perfect blend of her beauty and mind

she drew them on herself, and all the stars

shine to prove

that from them all she was the one 

who shined the most

...

her, light of thousand years old

pass through me one, then twice

then more
