## Vacation 2025

I just got back from my first vacation in around 4 years.

Five days that were actually pretty cool, but I did miss the routine

I think that is both good and bad, but it did gave me the itch to build something aside from my job

I finally had time to solve some issues

Three years ago I went to Quito to work for 12 hours straight everyday for months

Now I went on vacation

Things change